.row {
    padding: 20px;
}

div {
    background-color: #92accd;
}

footer {
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(90, 88, 88);
}