.row {
    padding: 20px;
}

div {
    background-color: #92accd;
    text-align: center;
}

#foto_perfil {
    border-radius: 100%;

}

#nombre {
    font-weight: bold;
    margin-top: 30%;

}

#boton {
    margin-bottom: 20px;
    /*display: flex;*/
}

#descripcion {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    /*align-items: center;*/
}

@media (max-width: 576px) {
    #foto_perfil {
        align-content: center;
        width: 35%;

    }

    #nombre {
        margin-top: 5%;
    }

    #boton {
        align-items: center;
    }
}


/* @media (min-width: 576px) {
    #foto_perfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 550px;
    }
}

@media (max-width: 576px) {
    #foto_perfil {
    position: absolute;
    width: 30%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 35%;
    top: 390px;
    }
} */