<div class="container" *ngIf="experiencia">
    <div class="row">
        <div>
            <br>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre del Trabajo</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE"
                        [(ngModel)]="experiencia.nombreE" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="descripcionE">Descripción del Trabajo</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE"
                        [(ngModel)]="experiencia.descripcionE" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="periodoE">Periodo de desempeño</label>
                    <input type="text" class="form-control" id="periodoE" name="periodoE"
                        [(ngModel)]="experiencia.periodoE" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="linkE">Link de la Empresa</label>
                    <input type="text" class="form-control" id="linkE" name="linkE" [(ngModel)]="experiencia.linkE"
                        required>
                </div>
                <br>
                <div class="form-group">
                    <label for="imgE">Imagen de la Empresa</label>
                    <input type="file" class="form-control" id="imgE" name="imgE" [(ngModel)]="experiencia.imgE"
                        (change)="uploadImage($event)" accept=".jpg, .jpeg, .png, .gif">
                </div>
                <br>
                <div class="imagen">
                    <img [src]="imageService.url" title="vista previa" id="imageService" width="250px">
                </div>
                <br>
                <button class="btn btn-primary">
                    Editar Experiencia
                </button>
            </form>
        </div>
    </div>
</div>