.row {
    padding: 20px;
    background-color: #92accd;
}

.container {
    width: auto;

}

.parte1,
.parte2 {
    display: inline-block;
    text-align: justify;
}

#img-experiencia {
    box-shadow: 10px 10px 30px black;
    width: 125px;
    height: 125px;


}

#botones {
    display: flex;
    justify-content: left;
    align-items: left;
}

.table {
    width: 100%;
    text-align: center;
}

#tdexp {
    width: 20%;

}

.row {
    padding: 20px;
}

div {
    background-color: #92accd;
}

h2,
h3 {
    display: inline;
}

ul {
    margin-left: 20px;
}