.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #92accd, rgba(37, 116, 252, 0.600));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #92accd, rgba(37, 117, 252, 0.600))
    }

.card {
    background: -webkit-linear-gradient(to right, rgba(37, 117, 252, 0.800), #92accd );

    background: linear-gradient(to right, rgba(37, 117, 252, 0.800), #92accd);

    box-shadow: 2px 2px 5px rgb(90, 88, 88)
}

.btn {
    box-shadow: 2px 2px 5px rgb(90, 88, 88)
}

.card {
    color: white;
    border-radius: 3em;
}